body {
    font-family: 'Montserrat', sans-serif;
}
table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    margin-bottom: 20px;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background: rgba(140, 140, 140, 0.5);;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #eeededea;
}

tr:hover {
    background-color: #dddada;
}

.item a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del elemento padre */
}